body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  overflow-x: hidden;
  height: 100vh !important;
  width: 100vw !important;
}

.viewer__container {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

/* a-scene {
  width: 100%;
  height: 100%;
  padding: 10px;
  flex: 1;
  width: 100%;
  z-index: 2;
}

.a-enter-vr-button {
  display: block;
} */

#views-button {
  padding: 8px 25px;
  border-radius: 5px;
  border: 2px solid #87c9ff;
  background-color: #fff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

#package-menu {
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  max-height: 200px;
  max-width: 600px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
}

#package-menu button {
  padding: 8px 25px;
  margin: 10px;
  border-radius: 5px;
  /* width: 100%; */
  border: 2px solid #87c9ff;
  background-color: #fff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}